body{
  background-color: black;
  margin: 0;
  text-align: center;
  font-size: 32px;
  color: gold;
}

header{
  padding: 32px;
}

img{
  margin: 0;
  width: 100%;
  height: auto;
  /* position: fixed; */
  top: 0;
  left: 0;
}
